.wrapper {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
  min-height: 100vh;
}

.block {
  display: flex;
  flex-direction: column;
  min-width: 250px;
  min-height: 150px;
  justify-content: space-between;
}

.btn-input {
  min-width: 100%;
  background-color: darkgreen;
  color: aliceblue;
}
